.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
}

.topArea {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    /* Ensure this height matches what is expected for the preview in Settings */
    min-height: 50px;
}

.contentArea {
    flex: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
